# EditorConfig (is awesome): http://EditorConfig.org# * top-most EditorConfig fileroot = true# default style settings[*]charset = utf-8end_of_line = crlfindent_size = 4indent_style = spaceinsert_final_newline = truetrim_trailing_whitespace = true[*.{yml,yaml}]indent_size = 2